.bg-light-color{
    background-color: rgb(180, 255, 255);
}
.orange{
    color: orange;
}
.white{
    color: white;
}
.bg-grey{
    background-color: grey;
}
.blue{
    color: rgb(0, 153, 255);
}